<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="Keywords" content="阿机米德,手机回收,以旧换新">
    <meta name="Description" content="阿机米德服务系统。">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/iconfont/iconfont.css">
    <title>修改密码</title>
    <style type="text/css">
        .wrapper {
            background: none;
            background-color: #fff;
            padding: 20px 50px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .wrapper .form-btn {
            width: 100%;
            text-align: center;
        }

        .wrapper .btn-blue {
            width: 130px;
            height: 48px;;
            line-height: 48px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <form class="setting_add" method="post" novalidate="novalidate" id="form_pwd">
        <div class="login-box-bd">
        <input type="password" id="inital_pwd" name="inital_pwd" placeholder="旧密码">

        <input type="password" id="new_pwd" name="new_pwd" placeholder="新密码">

        <input type="password" id="re_pwd" name="re_pwd" class="pwd" placeholder="重复输入新密码">
        </div>
        <div class="login_msg">
        <if condition="$admin_info.login_time">初次登陆，请修改密码</if>
        </div>
        <div class="form-btn">
            <button type="submit" name="submit" class="btn btn-blue" id="submit">确定</button>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.min.js"></script>
<script type="text/javascript">

    $("#form_pwd").submit(function (e) {
        var inital_pwd = $("#inital_pwd").val(),
            new_pwd = $("#new_pwd").val(),
            re_pwd = $("#re_pwd").val();
        var par = {};
        par.inital_pwd = $("#inital_pwd").val();
        par.new_pwd = $("#new_pwd").val();
        par.re_pwd = $("#re_pwd").val();
        if (new_pwd.length >= 6) {
            if (new_pwd == re_pwd) {
                $.post("/index/set_pwd", par, function (data) {
                    if (data.code == "0") {
                        parent.layer.closeAll();
                        // window.location.href='/index/index';
                    } else {
                        $('.login_msg').html(data.msg)
                        $('form input').keydown(function () {
                            $('.login_msg').html('')
                            $('form input').off('keydown');
                        })

                        return false;
                    }
                });
            } else {
                $('.login_msg').html('两次密码输入不一致');
                return false;
            }
            return false;
        } else {
            $('.login_msg').html('请输入不少于6位数的新密码');
            return false;

        }

    });

</script>
</html>