	<include file="Public:header" />
	<include file="Public:view_sidebar" />
	<div id="page">
		<div id="main" class="dclear_fix c-white">
			<h3 class="crumbs">
				<a>订单页</a>
				<div class="one-right">
							<span>客服电话：4001234567</span>
							<button>在线客服</button>
				</div>
			</h3>
					<div class="right-account container">
						<div class="row">
							<label class="col-lg-3">代理商编号:</label><div class="col-lg-9"><input class="" type="text"   /></div>
						</div>
						<div class="row">
							<label class="col-lg-3">代理商名称:</label><div class="col-lg-9"><input class="" type="text"   /></div>
						</div>
						<div class="row">
							<label class="col-lg-3">注册日期:</label><div class="col-lg-9"><input class="" type="text"   /></div>
						</div>
						<div class="row">
							<label class="col-lg-3">激活日期:</label><div class="col-lg-9"><input class="" type="text"   /></div>
						</div>
						<div class="row margintop">
							<label class="col-lg-3">银行用户信息:</label><div class="col-lg-9"><input class="" type="text"   /></div>
						</div>
						<div class="row">
							<label class="col-lg-3">户名:</label><div class="col-lg-9"><input class="" type="text"   /></div>
						</div>
						<div class="row">
							<label class="col-lg-3">账户:</label><div class="col-lg-9"><input class="" type="text"   /></div>
						</div>
						<div class="row">
							<label class="col-lg-3">开户行:</label><div class="col-lg-9"><input class="" type="text"   /></div>
						</div>
						<div class="row">
							<button class="btn">修改账户信息</button>
						</div>
					</div><!--right-account end-->
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
				
			})
</script>
