	<include file="Public:header" />
	<include file="Public:view_sidebar" />
	<div id="page">
		<div id="main" class="dclear_fix c-white">
			<h3 class="crumbs">
				<a>订单页</a>
				<div class="one-right">
							<span>客服电话：4001234567</span>
							<button>在线客服</button>
				</div>
			</h3>
					<div class="right-order">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>订单号</th>
									<th>下单时间</th>
									<th>收货人</th>
									<th>总金额</th>
									<th>应付金额</th>
									<th>订单状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>0000001</td>
									<td>2017-06-05 12:00</td>
									<td>xxx</td>
									<td>100.00</td>
									<td>100.00</td>
									<td>已付款</td>
									<td><a href="#" class="look">查看</a><a href="#" class="right del">移除</a></td>
								</tr>
								<tr>
									<td>0000001</td>
									<td>2017-06-05 12:00</td>
									<td>xxx</td>
									<td>100.00</td>
									<td>100.00</td>
									<td>已付款</td>
									<td><a href="#" class="look">查看</a><a href="#" class="right del">移除</a></td>
								</tr>
								<tr>
									<td>0000001</td>
									<td>2017-06-05 12:00</td>
									<td>xxx</td>
									<td>100.00</td>
									<td>100.00</td>
									<td>已付款</td>
									<td><a href="#" class="look">查看</a><a href="#" class="right del">移除</a></td>
								</tr>
								
							</tbody>
						</table>	
					</div><!--right-botton-->
					<div class="right-five">
						<ul class="pagination fenye">
						    <li><a href="#">&laquo;</a></li>
						    <li><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li><a href="#">&raquo;</a></li>
						</ul>
					</div><!--right-five end-->
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
				/*下拉菜单*/
				$(".dropdown-menu li").click(function(){
					$(".button-choose").html($(this).html())
				})
				/*下拉菜单*/
				/*查看删除*/
				$(".right-order table .look").click(function(){
					layer.open({
					type: 2,
					title: '查看订单详情',
					maxmin: false,
					shadeClose: true, //点击遮罩关闭层
					area : ['1100px' , '600px'],
					content: 'odetail.html'/*url*/
					});
				})
				$(".right-order table .del").click(function(){
					$(this).parent("td").parent("tr").remove();
				})
				
			})
</script>
